# Basic Python 3

## If

In [4]:
var1=int(input("Masukan nilai="))
if var1>0:
    print("Bilangan positif dengan nilai",var1)
else:
    print("Bilangan negatif dengan nilai",var1)

Masukan nilai=2
Bilangan positif dengan nilai 2

In [8]:
var2=str(input("Username (3-5 Karakter)="))
if len(var2)<3:
    print("Kurang dari 3, Panjang Username=",len(var2))
elif len(var2)>=3 and len(var2)<=5:
    print("Data telah dimasukan ke sistem")
else:
    print("Panjang Username berlebih, yaitu=",len(var2))

Username (3-5 Karakter)=Aghni
Data telah dimasukan ke sistem

In [3]:
var3=str(input("Pilih Voucher A atau B="))
if var3=="A":
    var4=int(input("Masukan Angka 1-3="))
    if var4 == 1:
        print(var3+str(var4)+"=Mobil")
    elif var4 == 2:
        print(var3+str(var4)+"=Motor")
    elif var4 == 3:
        print(var3+str(var4)+"=Sepeda")
    else:
        print("Tidak Ditemukan")
        
elif var3=="B":
    var4=int(input("Masukan Angka 1-3="))
    if var4 == 1:
        print(var3+str(var4)+"=Mesin Cuci")
    elif var4 == 2:
        print(var3+str(var4)+"=TV")
    elif var4 == 3:
        print(var3+str(var4)+"=Meja")
    else:
        print("Tidak Ditemukan")

Pilih Voucher A atau B=B
Masukan Angka 1-3=3
B3=Meja

## While

In [4]:
var1=0
while var1<5:
    print(var1)
    var1+=1

0
1
2
3
4

In [6]:
var2=0
while True:
    print(var2)
    var2+=1
    if var2==10:
        break
print("selesai")

0
1
2
3
4
5
6
7
8
9
selesai

In [7]:
var3=4
while var3>0:
    print(var3)
    var3-=1

4
3
2
1

## For

In [8]:
for i in range (0,5):
    print(i)

0
1
2
3
4

In [9]:
for i in range (0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
Nama_Reptil=["Buaya","Aligator","Kura-kura","Ular"]
Nama_Reptil[0]

'Buaya'

In [12]:
for i in range (0,len(Nama_Reptil)):
    print(Nama_Reptil[i])

Buaya
Aligator
Kura-kura
Ular

In [13]:
for NR in Nama_Reptil:
    print(NR)

Buaya
Aligator
Kura-kura
Ular

In [14]:
for i in "Brian":
    print(i)

B
r
i
a
n

In [18]:
for i in range (len(Nama_Reptil)):
    Nama_Reptil[i]=str(input("Masukan data ke-"+str(i)+"="))

Masukan data ke-0=Halo
Masukan data ke-1=Hola
Masukan data ke-2=Gutten
Masukan data ke-3=Hai

In [19]:
Nama_Reptil

['Halo', 'Hola', 'Gutten', 'Hai']